/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('donar.gif'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* La imagen estará centrada */
    background-attachment: fixed; /* La imagen se queda fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos para los inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón de registrar */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Enlace de regresar */
a {
    color: #4CAF50;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
