/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('donar.gif'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    color: #fff;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para mejorar la legibilidad */
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra alrededor del contenedor */
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #FFD700; /* Color dorado */
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.info {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FFD700; /* Color dorado */
}

.info p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.info ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
}

.info ul li {
    margin-bottom: 10px;
}

.images {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.images img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra en las imágenes */
}

@media screen and (max-width: 768px) {
    .info-section {
        flex-direction: column;
        text-align: center;
    }

    .images {
        flex-direction: column;
    }

    .images img {
        margin-bottom: 20px;
    }
}
footer button {
    background-color: #FFD700; /* Color dorado */
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #FFA500; /* Color naranja en hover */
}
